<header *ngIf="!productDetail">
  <h1>
    Product List 2018
  </h1>
</header>

<main class="component-container" *ngIf="!productDetail">
  <a routerLink="/product/{{product.id}}" *ngFor="let product of products" >
    <mat-card  (click)="getProductDetail(product)">
      <mat-card-title>
        <h2>{{product.price}}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <h3>
          Date: {{product.description}}
        </h3>
      </mat-card-subtitle>
      <h3>Location: {{product.location}}</h3>
      <!--<img src="{{urlBE + checkout.image}}" alt="The Wall">-->
      <img [appLazySrc]="urlBE + product.image" lazySrcVisible="visible" class="" alt="{{ product.price }}"/>
    </mat-card>
  </a>
</main>


