app-product-list {

  main {

    &.component {

      &-container {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;

        a {
          flex-grow: 1;
          min-width: 220px;
          flex-basis: 30%;

          mat-card {
            display: flex;
            max-width: 860px;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0;
            margin: {
              bottom: 5px;
              top: 5px;
              right: 5px;
              left: 5px;
            };


            .product-info-container{
              display: flex;
              flex-direction: column;
              width: 90%;
              padding: 10px 5% 25px 5%;

              mat-card-title{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                h2, h3{
                  width: 100%;
                }

                h2{
                  font-size: 30px;
                }

              }

              mat-card-title,
              mat-card-subtitle{
                width: 100%;
              }

              h2, h3, h4 {
                margin: 5px 0;
              }

              .price{
                font-size: 25px;
              }

            }

            .image-container{
              width: 100%;
              max-height: 200px;
              overflow: hidden;
              margin:{
                left: 1%;
              };

              img {
                width: 100%;
                height: auto;

                &.visible {
                  opacity: 1.0 ;
                }
              }
            }
          }
        }
      }
    }
  }
}
