
<div *ngIf="productListCheckout">
  WE have a product in the basket.

  <div *ngFor="let productItem of productListCheckout">

    {{productItem.name}}

  </div>

  <mat-card>


    <mat-card-header>

      <mat-card-title>Title</mat-card-title>

      <mat-card-subtitle>Subtitle</mat-card-subtitle>

    </mat-card-header>

    <img matCardImage src="Card wide image source">

    <mat-card-content>

      <mat-table #table [dataSource]="productListCheckout">

        <ng-container matColumnDef="name">

          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>

          <mat-cell *matCellDef="let productItem"> {{productItem.name}} </mat-cell>

        </ng-container>


        <ng-container matColumnDef="description">

          <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>

          <mat-cell *matCellDef="let productItem"> {{productItem.description}} </mat-cell>

        </ng-container>


        <ng-container matColumnDef="price">

          <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>

          <mat-cell *matCellDef="let productItem" > {{productItem.price | number:'1.2-2' }} </mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      </mat-table>

    </mat-card-content>

    <mat-card-actions align="start">

      <button mat-button (click)="onAction1">Action1</button>

    </mat-card-actions>

    <mat-card-footer>

      Footer

    </mat-card-footer>

  </mat-card>

</div>

<div *ngIf="productDetail$ | async as productDetail">

  <button (click)="backToProductList()" mat-button> < </button>

  <section class="component-container">

    <div class="header-section">
      <h2>
        Products Ckeckout List
      </h2>
    </div>

    <mat-card>
      <mat-card-title>
        <h2>{{productDetail.name}}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <h3>
          Date: {{productDetail.description}}
        </h3>
      </mat-card-subtitle>
      <h3>AU${{productDetail.price}}</h3>
      <img src="{{urlBE + productDetail.image}}" alt="{{productDetail.name}}">
    </mat-card>
  </section>

</div>
