<div *ngIf="productDetail$ | async as productDetail">
  <button (click)="backToProductList()" mat-button> < </button>

  <header>
    <h1>
      Products to Ckeckout
    </h1>
  </header>

  <main class="component-container">
    <mat-card>
      <mat-card-title>
        <h2>{{productDetail.name}}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <h3>
          Date: {{productDetail.description}}
        </h3>
      </mat-card-subtitle>
      <h3>AU${{productDetail.price}}</h3>
      <img src="{{urlBE + productDetail.image}}" alt="{{productDetail.name}}">
    </mat-card>
  </main>

</div>
