app-product-detail{

  aside{

    &.component{

      &-container{

        mat-card{

          mat-table{

            mat-cell{
              padding: 5px;
            }
          }

          mat-card-footer{
            background: #f4f4f4;
            padding: 20px;

            section{
              display: flex;
              flex-direction: row;

              div{
                width: 25%;

                p{
                  margin-bottom: 0.8em;
                  margin-top: 0.8em;
                }
              }
            }
          }
        }
      }
    }
  }
}
